{% extends "base/base.html" %}

{% block content %}
<section>
    <div class="grid grid-cols-1 md:grid-cols-2 container mx-auto w-full max-w-200 mt-10 gap-5 bg-gray-300 p-10 rounded-xl">
        {% for service in user.barber_profile.services.all %}
        <div class="bg-gray-800 text-white p-3 rounded-lg text-lg font-sans">
            <p>Service Name: {{service.name}}</p>
            <p>Service Price: ${{service.price}}</p>
            <p>Service Duration: {{service.duration}} minutes</p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}