{% extends "base/base.html" %}

{% block content %}
    <section class="">
        <h1 class="text-center text-4xl font-semibold mt-5 font-sans mb-5">
            Select the Service you want and continue to book the appointment.
        </h1>
        <div class="container mx-auto flex flex-col items-center">
            {% if barber.profile_image %}
            <img src="{{ barber.profile_image.url }}" alt="" class="w-50 h-50 object-cover mb-5">
            {% endif %}
            <h2 class="mt-3 flex flex-col md:flex-row text-center text-lg"><span class="font-bold mb-3 mr-3  text-center">Barber Name: </span> {{barber.full_name}}</h2>
            {% for service in barber.services.all %}
            <div class="mb-7 bg-gray-800 text-white p-10 rounded-2xl font-sans text-lg">
                <h4 class="text-lg">Service Provided: {{service.name}}</h4>
                <h4>Barber Location: {{barber.address}}</h4>
                <p>Service Price: ${{service.price}}</p>
                <p>Service Description: {{service.description}}</p>
                {% if user.barber_profile.id != barber.id%}
                <a href="{% url 'book-appointment' service.id %}" 
                class="block bg-amber-500 p-3 rounded-2xl text-white text-lg text-center mt-3">Book now</a>
                {% else %}
                <h3>You can not book Yourself.</h3>
                {% endif %}
            </div>
            {% endfor %}
            
        </div>
        {% if barber.services.count == 0 %}
                <h2 class="text-center text-2xl font-bold">This Barber does not have any service available for now.</h2>
        {% endif %}
    </section>
{% endblock %}