{% extends "base/base.html" %}

{% block content %}
    <section>
        <div class="container w-full max-w-200 mx-auto my-10 font-sans bg-gray-300 text-black p-5 rounded-xl">
            <form action="{% url 'create-timeslots' %}" method="POST">
                {% csrf_token %}
                <h2 class="text-2xl mb-3">Choose the time you will be available for each selected date please.</h2>
                {{form.as_p}}
                <button  type="submit" class="text-xl bg-yellow-500 text-gray-700 p-3 mt-3 rounded-2xl">Create</button>
            </form>
        </div>
    </section>
{% endblock %}