{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DashBoard</title>
  <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  {% tailwind_css %}
</head>
<body class="overflow-x-hidden">
  <header class="bg-gray-900">
    <nav class="container gap-12  mx-auto sm:px-4 lg:px-8 flex justify-between p-5 text-white flex-col md:flex-row text-xl items-center">
      <div class="flex items-center flex-col md:flex-row no-underline">
          <a href="{% url 'home'%}" class="flex no-underline">
            <span>✂</span>
            <p class="text-xl">CutSlot</p>
          </a>
        </div>

      <li class="list-none"><a href="">Barber Dashboard</a></li>
      
      <div class="flex  space-x-4 items-center">
        <a href="{% url 'barber_profile' %}" class="flex flex-row items-center space-x-5">
          <img src="{{ user.barber_profile.profile_image.url }}" alt="" class="h-15 w-15  rounded-full">
          <div>
              <p>Welcome, {{user.barber_profile.full_name| slice:"30"}}</p>
          </div>
        </a>
      </div>
    </nav>
  </header>
  <section class="container grid grid-cols-1 lg:grid-cols-4 space-y-4 lg:space-y-0 lg:gap-5 mt-12 overflow-hidden mx-auto place-content-center">
      {% include "barber/subprofile/leftbar.html" %}
      <!--section part2-->
      <div class="flex flex-col space-x-4 shrink-0 col-span-2">
        <div class="flex flex-col md:flex-row self-start space-x-3 bg-white p-5
         rounded-2xl shadow-xl space-y-5 xl:space-y-0">
            <div class="bg-gray-200 p-3 text-gray-950 font-sans text-xl rounded-xl">
              <a href="{% url 'create-service' %}">
                <i class="fa-solid fa-wrench"></i>
                <span>Create New Service</span>
              </a>
            </div>

          <div class="bg-gray-200 p-3 text-gray-950 font-sans text-xl rounded-xl">
            <a href="{% url 'create-timeslots' %}">
              <span>Manage Time Slots</span>
            </a>
          </div>
          
          <div class="bg-gray-200 p-3 text-gray-950 font-sans text-xl rounded-xl">
            <a href="{% url 'all-services' %}">
              <span>All Services</span>
            </a>
          </div>
          <div class="bg-gray-200 p-3 text-gray-950 font-sans text-xl rounded-xl">
            <a href="">
              <span>Payments</span>
            </a>
          </div>
        </div>
        <!---->
        <div class="mt-10 flex flex-col p-5 rounded-2xl shadow-xl max-h-120 overflow-y-auto mb-5"> 

          <div class="p-2 mb-5 border-b border-gray-300">
            <h2 class="font-bold text-2xl">Upcoming Appointments</h2>
          </div>

          {% if user.barber_profile.barber_appointment.count == 0 %}
            <h2 class="text-gray-800 font-semibold text-2xl">You don't have any appointment schedule yet.</h2>
          {% endif %}

          {% for  appointment in user.barber_profile.barber_appointment.all %}
          {% if appointment.is_valid  and appointment.status != "completed" %}
          <div class="flex bg-gray-200 flex-col md:flex-row mb-5 p-2 
          justify-between items-center rounded-xl space-y-4 md:space-y-0">
            <div>
              <h2 class="font-bold">Booked By: {{appointment.customer.full_name}} </h2>
              <p>{{appointment.service}}, {{appointment.appointment_time}}</p>
            </div>
            <div class="flex flex-col md:flex-row gap-2">
              {% if appointment.status != "completed" %}
              <form action="{% url 'mark-appointment-completed' appointment.id %}" method="POST">
                {% csrf_token %}
                <button class="p-2 bg-green-600 text-white rounded-2xl font-semibold cursor-pointer" type="submit">Completed</button>
              </form>
              {% endif %}
              
              <form action="{% url 'cancel-appointment' appointment.id %}" method="POST">
                {% csrf_token %}
                  <button class="p-2 bg-red-600 text-white rounded-2xl font-semibold cursor-pointer" type="">Cancel</button>
              </form>

              <a class="p-2 bg-gray-800 text-white rounded-2xl font-semibold" 
              href="{% url 'barber-appointment-details' appointment.id %}">Details</a>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>

        <!---->
        <div class="p-5 rounded-2xl shadow-2xl mb-10">
          <h2 class="font-bold text-2xl border-b border-gray-400 mb-3">Notifications</h2>
          
          <div class=" flex flex-col">
            {% for notification in notifications %}
            <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 p-3 justify-around border-b border-gray-400">
              <p>Notification type: {{notification.type | title}}</p>
              <p><span>{{notification.appointment.customer.full_name}} </span>has booked an apppointment</p>
              On <p>{{notification.date}}</p>
            </div>
            {% endfor %}
        </div>
      </div>
      </div>
      <!---->
      <div>
        <div class="flex flex-col p-10 rounded-2xl shadow-2xl self-start text-left bg-gray-800 text-white">
          <h1 class="font-bold text-2xl mb-5">Dashboard Overview</h1>
          <div class="flex justify-between text-left text-lg border-b border-gray-400 p-3">
            <h3>Appointment served</h3>
            <p>{{total_booking}}</p>
          </div>
          <div class="flex justify-between text-left text-lg border-b border-gray-400 p-3">
            <h3>Number of services offer</h3>
            <p>{{user.barber_profile.services.count}}</p>
          </div>
          <div class="flex justify-between space-x-3 text-left text-lg border-b border-gray-400 p-3">
            <h3>Total amount Earned</h3>
            <p>${{total_amount}}</p>
          </div>
          <div class="flex justify-between space-x-3 text-left text-lg border-b border-gray-400 p-3">
            <h3>Total Appointments</h3>
            <p>{{total_booking}}</p>
          </div>
      </div>
    </div>
  </section>
</body>
</html>
