{% extends "base/base.html" %}

{% block content %}
<section>
    <div>
        <h1>All Available Services</h1>
        {% for service in services %}
            <a href="">
                <p>{{service.name}}</p>
                <p>{{service.price}}</p>
                <p>{{service.duration}}</p>
                <p>{{service.owner}}</p>
                <p>{{service.description|slice:"50"}}...</p>
                <a href="#">Select Service </a>
            </a>.
        {% endfor %}
    </div>
</section>
{% endblock %}